<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="doctor_lp_style.css">
    <title>Swasthya</title>
</head>
<body>
    <div class="nav_bar">
        <div class="search_box">
          <img src="images/Search icon.png" alt="search">
        </div>
        <nav class="page_menu"> 
          <a href="#" class="active">Doctors</a>
          <a href="#">Clinics</a>
          <a href="#">Hospitals</a>
          <a href="#">Fitness Trainers</a>
          <a href="#">Mental Health</a>
        </nav>
        <div class="login_signup_button"> 
          <a href="#">Login/Signup</a>        
        </div>
      </div> 
      <div class="inner_container">
          <a href="#" class="active">Login</a>
          <a href="#">Sign Up</a>
      </div>  
      <div class="credential_holder">
        <h3>Username</h3>
        <div class="username_holder">
          <input type="text" placeholder="Enter Username">
        </div>
        <h3>Password</h3>
         <div class="password_holder">
          <input type="password" placeholder="Enter Password">
         </div>
         <a href="#" class="Button">Login</a>
         <div class="extras"> 
            <a href="#" class="Forgot_Password">Forgot Password?</a>
            <p>New Here?</p>
            <a href="#" class="Signup">Signup as Doctor <br></a>
            <a href="#" class="Signup">Signup as User</a>
         </div>
      </div>       
</body>
</html>