<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Swasthya</title>
    <div class="wrapper">
        <div class="container_one">
          <h1>Welcome to <br><span>SWASTHYA</span></h1>        
        </div>
        <div class="gradient_container"></div>  
        <div class="vector_container">
          <img src="images/Vector 1.svg" alt="Vector">
          <div class="inner_container"><h3>Consult top verified doctors online for <br> health concerns.</h3>
            <a href="home_page.html" class="Button">Get started</a>
          </div>          
        </div>                  
    </div>
</head>
<body>
</body>
</html>